In [2]:
import pandas as pd

In [6]:
df = pd.read_excel('World_Development_Indicators.xlsx')

In [3]:
df.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,GDP (current US$),NY.GDP.MKTP.CD,Arab World,ARB,4.46902e+11,7.35188e+11,1.7962e+12,2.10993e+12,2.50174e+12,2.78679e+12,2.86686e+12,2.90839e+12,2.56075e+12,2.51394e+12,2.58631e+12,..
1,GDP (current US$),NY.GDP.MKTP.CD,Caribbean small states,CSS,1.79592e+10,3.41771e+10,5.81631e+10,6.32689e+10,6.83511e+10,7.05884e+10,7.13353e+10,7.24957e+10,7.0862e+10,6.76656e+10,6.88236e+10,..
2,GDP (current US$),NY.GDP.MKTP.CD,Central Europe and the Baltics,CEB,2.56391e+11,4.27831e+11,1.28627e+12,1.31222e+12,1.44506e+12,1.35094e+12,1.42188e+12,1.46426e+12,1.28589e+12,1.31465e+12,1.45454e+12,..
3,GDP (current US$),NY.GDP.MKTP.CD,Early-demographic dividend,EAR,1.81482e+12,3.28905e+12,7.01944e+12,8.52782e+12,9.58229e+12,1.00445e+13,1.02296e+13,1.05795e+13,1.02625e+13,1.04785e+13,1.12895e+13,..
4,GDP (current US$),NY.GDP.MKTP.CD,East Asia & Pacific,EAS,4.73243e+12,8.28088e+12,1.45312e+13,1.69433e+13,1.96479e+13,2.10314e+13,2.12752e+13,2.19142e+13,2.17952e+13,2.25115e+13,2.39965e+13,..

* merge function, please read the document on https://pandas.pydata.org/pandas-docs/version/0.23.4/merging.html

In [3]:
df1 = pd.DataFrame({'Country_Code': ['ARB', 'CSS', 'CEB', 'EAR'],
 'B': ['B0', 'B1', 'B2', 'B3'],
 'C': ['C0', 'C1', 'C2', 'C3'],
 'D': ['D0', 'D1', 'D2', 'D3']},
 index=[0, 1, 2, 3])

In [4]:
df1.head()

    B   C Country_Code   D
0  B0  C0          ARB  D0
1  B1  C1          CSS  D1
2  B2  C2          CEB  D2
3  B3  C3          EAR  D3

In [11]:
df2 = df.merge(df1,left_on='Country Code',right_on='Country_Code')

In [13]:
df2.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],B,C,Country_Code,D
0,GDP (current US$),NY.GDP.MKTP.CD,Arab World,ARB,4.46902e+11,7.35188e+11,1.7962e+12,2.10993e+12,2.50174e+12,2.78679e+12,2.86686e+12,2.90839e+12,2.56075e+12,2.51394e+12,2.58631e+12,..,B0,C0,ARB,D0
1,GDP (current US$),NY.GDP.MKTP.CD,Caribbean small states,CSS,1.79592e+10,3.41771e+10,5.81631e+10,6.32689e+10,6.83511e+10,7.05884e+10,7.13353e+10,7.24957e+10,7.0862e+10,6.76656e+10,6.88236e+10,..,B1,C1,CSS,D1
2,GDP (current US$),NY.GDP.MKTP.CD,Central Europe and the Baltics,CEB,2.56391e+11,4.27831e+11,1.28627e+12,1.31222e+12,1.44506e+12,1.35094e+12,1.42188e+12,1.46426e+12,1.28589e+12,1.31465e+12,1.45454e+12,..,B2,C2,CEB,D2
3,GDP (current US$),NY.GDP.MKTP.CD,Early-demographic dividend,EAR,1.81482e+12,3.28905e+12,7.01944e+12,8.52782e+12,9.58229e+12,1.00445e+13,1.02296e+13,1.05795e+13,1.02625e+13,1.04785e+13,1.12895e+13,..,B3,C3,EAR,D3